body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-box {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

h1, p {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

label {
    display: inline-block;
    width: 100px;
    margin-top: 10px;
}

input, select {
    padding: 5px;
    width: calc(100% - 110px);
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #bde8f9;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
}

button:hover {
    background-color: #afe6fc;
}